@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans");
.group h3 {
  color: #1d1d1d;
  padding: 3.4rem 0 1rem 0; }

.group img {
  box-shadow: 0 rem(2px) rem(5px) rgba(0, 0, 0, 0.5);
  border: rem(1px) solid rgba(255, 255, 255, 0.5); }
  .group img:hover {
    border: rem(1px) solid #00ff00; }

body {
  font-family: 'Noto Sans', sans-serif;
  background: #FEFEFE; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif; }

.navbar {
  background: linear-gradient(to bottom, #222, #1a1a1a);
  border-bottom: 1px solid #0f0f0f;
  height: rem(62px); }
  .navbar a {
    color: #FEFEFE;
    font-size: rem(16px); }
  .navbar i {
    width: rem(15px);
    height: rem(15px);
    color: #FEFEFE;
    opacity: .6;
    margin-left: rem(14px); }
    .navbar i:hover {
      opacity: 1;
      transition: .2s ease-out; }
  .navbar .headerSearch {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: rem(100px);
    height: rem(28px);
    margin: 0;
    padding: rem(5px) rem(12px) rem(6px);
    background-color: #1d1d1d;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.9);
    box-shadow: 0 rem(1px) 0 rgba(255, 255, 255, 0.04);
    outline: 0;
    border-radius: rem(50px);
    opacity: .6;
    transition: opacity .3s ease-out,box-shadow .3s ease-out,width .2s ease-out;
    font-size: rem(13px); }
    .navbar .headerSearch:focus {
      width: rem(160px);
      border-color: #00ff00;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0);
      opacity: 1; }
  .navbar .dropdown-menu {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #ECE9E6);
    box-shadow: 0 rem(1px) 4px rgba(0, 0, 0, 0.2), inset 0 rem(1px) 0 rgba(255, 255, 255, 0.05);
    border-radius: rem(5px);
    border: rem(1px) solid rgba(0, 0, 0, 0.7);
    border-bottom: rem(1px) solid rgba(0, 0, 0, 0.8); }
    .navbar .dropdown-menu a {
      font-size: rem(12px);
      padding: rem(6px) rem(8px); }
      .navbar .dropdown-menu a:hover {
        background: #F9F398;
        color: #1d1d1d; }
      .navbar .dropdown-menu a:active {
        color: #1d1d1d; }
      .navbar .dropdown-menu a:visited {
        color: #1d1d1d; }
      .navbar .dropdown-menu a i {
        color: #1d1d1d;
        padding-right: 1.2rem; }
  .navbar .navbar-brand > img {
    width: 4.8rem; }

.activeNavbar {
  box-shadow: 0 0 rem(80px) rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out; }
