/* Global Variables  */
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans");
/* Grid Components */
.cssGridThreeMax {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr)); }

.cssGridAutofill {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(16.25rem, 1fr)); }

.cssGridGallery {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr)); }

#exampleModalCenter .modal-body form input, #exampleModalCenter .modal-body form textarea {
  margin: 0.5rem 0; }

.navbar {
  background: linear-gradient(to bottom, #222, #1a1a1a);
  border-bottom: 1px solid #0f0f0f;
  height: 3.875rem;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .navbar h3 {
    color: #FEFEFE;
    font-size: 1.375rem; }
  .navbar a {
    font-size: 1rem; }
  .navbar i {
    width: 0.9375rem;
    height: 0.9375rem;
    color: #FEFEFE;
    opacity: .6;
    margin-left: 0.875rem; }
    .navbar i:hover {
      opacity: 1;
      transition: .2s ease-out; }
  .navbar .dropdown-menu {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #ECE9E6);
    box-shadow: 0 0.0625rem 4px rgba(0, 0, 0, 0.2), inset 0 0.0625rem 0 rgba(255, 255, 255, 0.05);
    border-radius: 0.3125rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.7);
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.8); }
    .navbar .dropdown-menu .dropdown-item {
      font-size: 0.75rem;
      padding: 0.375rem 0.5rem; }
      .navbar .dropdown-menu .dropdown-item:hover {
        background: #F9F398;
        color: #1d1d1d !important; }
      .navbar .dropdown-menu .dropdown-item:active {
        color: #1d1d1d !important; }
      .navbar .dropdown-menu .dropdown-item:visited {
        color: #1d1d1d !important; }
      .navbar .dropdown-menu .dropdown-item i {
        color: #1d1d1d !important;
        padding-right: 1.2rem; }
  .navbar .navbar-brand > img {
    width: 4.8rem; }

.activeNavbar {
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out; }

.footer {
  text-align: center;
  padding: 2.2rem 0;
  width: 100%;
  height: 3.875rem;
  margin-top: 3.4rem;
  background: linear-gradient(to bottom, #222, #1a1a1a);
  border-bottom: 1px solid #0f0f0f;
  position: absolute;
  bottom: 0; }
  .footer h6 {
    color: #FEFEFE; }

.group h3 {
  color: #FEFEFE;
  padding: 3.4rem 0 1rem 0; }

.group img {
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.5);
  border: 0.0625rem solid rgba(255, 255, 255, 0.5); }
  .group img:hover {
    border: 0.0625rem solid #00ff00; }

.postContent {
  margin-top: 20vh; }
  .postContent input, .postContent textarea {
    margin: .4rem 0;
    width: 80%; }
  .postContent h3 {
    color: #FEFEFE; }

.form-signin {
  margin-top: 25vh; }
  .form-signin img {
    width: 18.75rem; }
  .form-signin input {
    margin: 1rem 0; }
  .form-signin h3, .form-signin h2 {
    color: #FEFEFE; }
  .form-signin a {
    color: #FEFEFE; }

.relativeContainer {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 3.375rem; }

body {
  background: url("../../media/wallhaven-379567.jpg") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  font-family: 'Noto Sans', sans-serif;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif; }

.relativeContainer {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative; }
