.footer {
    text-align: center;
    padding: 2.2rem 0;
    width: 100%;
    height: rem(62px);
    margin-top: 3.4rem;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    border-bottom: 1px solid $white;
    position: absolute;
    bottom: 0;

    h6 {
        color: $black;
    }
}