.navbar {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    height: rem(62px); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    h3 {
        color: $black;
        font-size: rem(22px);
    }

    a {
        font-size: rem(16px);
    }

    i {
        width: rem(15px);
        height: rem(15px);
        color: $black;
        opacity: .6;
        margin-left: rem(14px);

        &:hover {
            opacity: 1;
            transition: .2s ease-out;
        }
    }

    .dropdown-menu {
        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #FFFFFF, #ECE9E6);
        box-shadow: 0 rem(1px) 4px rgba(0,0,0,.2), inset 0 rem(1px) 0 rgba(255,255,255,.05);
        border-radius: rem(5px);
        border: rem(1px) solid rgba(0,0,0,.7);
        border-bottom: rem(1px) solid rgba(0,0,0,.8);

        .dropdown-item {
            font-size: rem(12px);
            padding: rem(6px) rem(8px);

            &:hover {
                background: $pastelYellow;
                color: $black !important;
            }

            &:active {
                color: $black !important;
            }

            &:visited {
                color: $black !important;
            }

            i {
                color: $black !important;
                padding-right: 1.2rem
            }
        }
    }

    .navbar-brand > img {
        width: 4.8rem;
    }
}

.activeNavbar {
    box-shadow: 0 0 rem(80px) rgba(0,0,0,.2);
    transition: all 0.4s ease-in-out;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
    cursor: pointer;
    color: $white;
	text-indent: -9999px;
	width: rem(40px);
	height: rem(20px);
	background: grey;
	display: block;
	border-radius: 100px;
    position: relative;
    margin-left: rem(14px);
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: rem(14px);
	height: rem(14px);
	background: #fff;
	border-radius: rem(90px);
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: rem(130px);
}