<nav class="navbar sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="./media/sweetPeaLogo.png" alt="sweetPeaLogo">
        </a>
        <input class="headerSearch ml-auto" type="text" name="search" placeholder="Search...">
        <div class="dropdown">
            <i class="fas fa-bars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-images"></i>
                    Upload A Photo</a>
                <a class="dropdown-item" href="#"><i class="fas fa-certificate"></i> About Sweet Pea</a>
                <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> Settings</a>
            </div>
        </div>
        <i class="fas fa-user-circle"></i>
    </div>
</nav>
<section id="main-splash">
    <div class="container">
        <img class="d-block mx-auto my-4" src="/media/splash-logo.png" alt="Sweet Pea Logo">
        <a class="btn btn-lg btn-neon-green btn-block mx-auto w-25" href="/login">Log In</a>
    </div>
</section>