<div class="relativeContainer">
    <nav class="navbar sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <h3 class="pixelForest">Pixel Forest</h3>
            </a>
            <div class="dropleft ml-auto">
                <i class="fas fa-bars"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/post"><i class="fas fa-images"></i> Upload A Photo</a>
                    <a class="dropdown-item" href="#"><button onclick="swapStyleSheet('./styles/css/light.css')">Light UI</button><button class="ml-auto" onclick="swapStyleSheet('./styles/css/main.css')">Dark UI</button><button onclick="swapStyleSheet('./styles/css/green.css')">Green UI</button></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container form-signin">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form>
                    <h3 class="form-signin-heading">Please sign in</h3>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-neon-green btn-block" type="submit" id="signInSubmit">Sign in</button>
                    <a href="/signup" class="ml-auto">Sign Up</a>
                    <div class="d-none mt-2" id="errorBlock">
                        <p class="text-danger" id="errorMessage"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <h6 class="text-center">Pixel Forest Inc. &copy; 2018</h6>
        </div>
    </footer>

</div>