<div class="relativeContainer">
    <nav class="navbar sticky-top">
        <div class="container">
            <a class="navbar-brand" href="./home.html">
                <h3 class="pixelForest">Pixel Forest</h3>
            </a>
            <div class="dropleft ml-auto">
                <i class="fas fa-bars"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="post.html"><i class="fas fa-images"></i> Upload A Photo</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-times"></i> Delete Account</a>
                    <a class="dropdown-item" href="#"><button onclick="swapStyleSheet('./styles/css/light.css')">Light UI</button><button class="ml-auto" onclick="swapStyleSheet('./styles/css/main.css')">Dark UI</button><button onclick="swapStyleSheet('./styles/css/green.css')">Green UI</button></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container postContent">
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Post Your Content</h3>
                <form>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <input name="file" type="file" id="fileButton" class="form-control-file pl-3" accept=".jpg" multiple="false" />
                                </div>
                                <div class="col-12">
                                    <input id="postTitle" type="text" placeholder="Title">
                                </div>
                                <div class="col-12">
                                    <textarea id="postBody" name="description" cols="30" rows="5" placeholder="Description"></textarea>
                                </div>
                                <div class="col-12">
                                    <input class="d-none" id="postSubmit" value="Submit" type="button">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <h6 class="text-center">Sweet Pea Inc. &copy; 2018</h6>
        </div>
    </footer>
</div>

<script>
    let scriptRender = document.createElement("script");
    scriptRender.setAttribute("src", "/js/render.js");
    document.body.appendChild(scriptRender);
    let scriptPost = document.createElement("script");
    scriptPost.setAttribute("src", "/js/post.js");
    document.body.appendChild(scriptPost);
</script>