<div class="relativeContainer">
    <nav class="navbar sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/profile">
                <h3 class="pixelForest">Pixel Forest</h3>
            </a>
            <div class="dropdown ml-auto">
                <i class="fas fa-bars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/post"><i class="fas fa-images"></i> Upload A Photo</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> Settings</a>
                    <a id="signOut" class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-times"></i>
                        Delete Account</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container group">
        <h3>Gallery</h3>
        <div id="postsDiv" class="cssGridGallery">

        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- Devins HACKKKKKK -->

    <footer class="footer">
        <div class="container">
            <h6 class="text-center">Pixel Forest Inc. &copy; 2018</h6>
        </div>
    </footer>
</div>

<!-- Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="photoEdit" class="btn-light">Edit</button>
                <button id="photoEditSubmit" class="btn-primary d-none">Submit</button>
                <button id="photoDelete" class="btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Account Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are You Sure You Want to Delete Your Account?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deleting your account will result in permenent loss of all content</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Delete Account</button>
            </div>
        </div>
    </div>
</div>




{{!--
<nav class="navbar sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="./media/sweetPeaLogo.png" alt="sweetPeaLogo">
        </a>
        <input class="headerSearch ml-auto" type="text" name="search" placeholder="Search...">
        <div class="dropdown">
            <i class="fas fa-bars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a href="/post" class="dropdown-item">
                    <i class="fas fa-images"></i>
                    Upload A Photo</a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-certificate"></i> About Sweet Pea</a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs"></i> Settings</a>
            </div>
        </div>
        <p style="font-size: 0.75rem">{{email}}</p>
        <i class="fas fa-user-circle"></i>
    </div>
</nav>

<section id="popularPosts">
    <div class="container group">
        <h3>Photos</h3>
        <div class="cssGridThreeMax" id="postsDiv">
            <!-- Inserting photos here -->
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <h6 class="text-center">Sweet Pea Inc. &copy; 2018</h6>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
</section> --}}

<script>
    let script = document.createElement("script");
    script.setAttribute("src", "/js/render.js");
    document.body.appendChild(script);
</script>