/* Global Variables  */
$black:       #1d1d1d;
$white:       #FEFEFE;
$neonGreen:   #00ff00;
$pastelGreen: #CBE5C0;
$pastelYellow:#F9F398;

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans');

@import '../../../node_modules/sass-rem/rem';
@import './partials/grid';
@import './partials/form';
@import './partials/navbarlight';
@import './partials/footerlight';
@import './partials/groupLight';
@import './partials/post';
@import './partials/homeSignIn';

body {
    background: url('../../media/wallhaven-379567lightbg.jpg') no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}

.relativeContainer {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
}