/* Global Variables  */
$black:       #1d1d1d;
$white:       #FEFEFE;
$neonGreen:   #00ff00;
$pastelGreen: #CBE5C0;
$pastelYellow:#F9F398;

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans');

@import '../../../node_modules/sass-rem/rem';
@import './partials/grid';
@import './partials/form';
@import './partials/navbar';
@import './partials/footer';
@import './partials/group';

body {
    font-family: 'Noto Sans', sans-serif;
    background: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}
